<template>
    <section id="content" class="content">
        <div class="container">

            <router-view></router-view>
            
        </div>
        <!-- / container -->
    </section>
</template>

<script>
export default {
	name: 'AppContent',
	props: {
    },
    components: {
    },
    data(){
        return {
        }
    },
    mounted(){
    },
    methods: {
    },
    computed: {
    }
}
</script>

<style lang="scss" scoped>
#content {
    padding-top:37px;
    padding-bottom:37px;
}
</style>
