<template>
    <footer id="footer" class="footer">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-10 offset-lg-1">

                    <div class="row">

                        <div class="col-12 col-lg-3 logo">
                            <img width="129" src="img/logo-lg.svg" alt="" class="float-lg-right">
                            <router-link :to="`/`" class="btn btn-light btn-block float-lg-right rounded mt-5">Junte-se a Comunidade</router-link>
                        </div>
                        <!-- /.col -->

                        <div class="col-12 col-lg-2">
                            <h3>O Básico</h3>
                            <ul class="list-unstyled">
                                <li><router-link :to="`/`">Sobre o TMDb</router-link></li>
                                <li><router-link :to="`/`">Contate-nos</router-link></li>
                                <li><router-link :to="`/`">Suporte</router-link></li>
                                <li><router-link :to="`/`">API</router-link></li>
                                <li><router-link :to="`/`">Status do Sistema</router-link></li>
                            </ul>
                        </div>
                        <!-- /.col -->

                        <div class="col-12 col-lg-2">
                            <h3>Envolva-se</h3>
                            <ul class="list-unstyled">
                                <li><router-link :to="`/`"><span class="glyphicons glyphicons-asterisk"></span> Bíblia do Colaborador</router-link></li>
                                <li><router-link :to="`/`">Aplicativos de terceiros</router-link></li>
                                <li><router-link :to="`/`">Adicionar um novo Filme</router-link></li>
                                <li><router-link :to="`/`">Adicionar uma nova Série</router-link></li>
                            </ul>
                        </div>
                        <!-- /.col -->

                        <div class="col-12 col-lg-2">
                            <h3>Comunidade</h3>
                            <ul class="list-unstyled">
                                <li><router-link :to="`/`">Diretrizes</router-link></li>
                                <li><router-link :to="`/`">Discussões</router-link></li>
                                <li><router-link :to="`/`">Placar de colaboradores</router-link></li>
                                <li><router-link :to="`/`">Twitter</router-link></li>
                            </ul>
                        </div>
                        <!-- /.col -->
                        
                        <div class="col-12 col-lg-2">
                            <h3>Legalidade</h3>
                            <ul class="list-unstyled">
                                <li><router-link :to="`/`">Termos de uso</router-link></li>
                                <li><router-link :to="`/`">Termos de Uso da API</router-link></li>
                                <li><router-link :to="`/`">Política de privacidade</router-link></li>
                            </ul>
                        </div>
                        <!-- /.col -->

                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>
</template>

<script>
export default {
	name: 'AppFooter',
	props: {
    }
}
</script>

<style lang="scss" scoped>
#footer {
    padding-top:43px;
    padding-bottom: 96px;
    background-color: $dark-blue-two;

    .logo {
        padding-right:25px;
    }

    h3 {
        font-weight: bold;
        font-size: 1.4em;
        line-height: 1.4em;
        text-transform: uppercase;
        color: #fff;
        white-space: nowrap;
        margin-top:23px;
    }

    ul {

        li {
            line-height: 1.6em;
            max-width: 260px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #fff;

            a {
                color:#fff;
            }
        }

    }

    a.rounded {
        border-color: #fff;
        background-color: #fff;
        color: rgba($light-blue, 1);
        font-size: 1.1em;
        font-weight: bold;
        text-transform: uppercase;

    }

}
</style>
