<template>
    <main role="main" id="main" class="main">
		<slot></slot>
    </main>
</template>

<script>
export default {
	name: 'AppMain',
	props: {
		msg: String
	}
}
</script>

<style lang="scss" scoped>
#main {
	min-height:300px;
	margin-top:10px;
}
</style>
