<template>
	<b-navbar toggleable="lg" type="dark" variant="dark" id="navbar" sticky>
		<div class="container">
		<b-navbar-brand :to="`/`">
			<img src="img/logo.svg" alt="The Movie Database (TMDb)" width="154" height="20">
		</b-navbar-brand>

		<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

		<b-collapse id="nav-collapse" is-nav>
			<b-navbar-nav>
				<b-nav-item-dropdown text="Filmes">
					<b-dropdown-item :to="`/`">Populares</b-dropdown-item>
					<b-dropdown-item :to="`/`">Em cartaz</b-dropdown-item>
					<b-dropdown-item :to="`/`">Próximas Estreias</b-dropdown-item>
					<b-dropdown-item :to="`/`">Mais bem avaliados</b-dropdown-item>
				</b-nav-item-dropdown>
				<b-nav-item-dropdown text="Séries">
					<b-dropdown-item :to="`/`">Populares</b-dropdown-item>
					<b-dropdown-item :to="`/`">Em exibição hoje</b-dropdown-item>
					<b-dropdown-item :to="`/`">Na TV</b-dropdown-item>
					<b-dropdown-item :to="`/`">Mais bem avaliadas</b-dropdown-item>
				</b-nav-item-dropdown>
				<b-nav-item-dropdown text="Pessoas">
					<b-dropdown-item :to="`/`">Pessoas Populares</b-dropdown-item>
				</b-nav-item-dropdown>
				<b-nav-item-dropdown text="Mais">
					<b-dropdown-item :to="`/`">Discussões</b-dropdown-item>
					<b-dropdown-item :to="`/`">Placar de colaboradores</b-dropdown-item>
					<b-dropdown-item :to="`/`">Suporte</b-dropdown-item>
					<b-dropdown-item :to="`/`">API</b-dropdown-item>
				</b-nav-item-dropdown>
			</b-navbar-nav>

			<!-- Right aligned nav items -->
			<b-navbar-nav class="ml-auto">
				<b-nav-item :to="`/`" class="mr-3">Entrar</b-nav-item>
				<b-nav-item :to="`/`">Junte-se ao TMDb</b-nav-item>
				<!-- <b-nav-form>
					<b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
					<b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
				</b-nav-form>

				<b-nav-item-dropdown text="Lang" right>
					<b-dropdown-item :to="`/`">EN</b-dropdown-item>
					<b-dropdown-item :to="`/`">ES</b-dropdown-item>
					<b-dropdown-item :to="`/`">RU</b-dropdown-item>
					<b-dropdown-item :to="`/`">FA</b-dropdown-item>
				</b-nav-item-dropdown> -->

				<!-- <b-nav-item-dropdown right>
					<template #button-content>
						<em>User</em>
					</template>
					<b-dropdown-item href="#">Profile</b-dropdown-item>
					<b-dropdown-item href="#">Sign Out</b-dropdown-item>
				</b-nav-item-dropdown> -->
			</b-navbar-nav>
		</b-collapse>
		</div>
	</b-navbar>
</template>

<script>
export default {
  name: "AppNav",
  props: {
  },
};
</script>

<style lang="scss">
#navbar {
	background-color: $dark-blue-one !important;

	ul {

		li {

			margin-right: 14px;

			a:not(.dropdown-item) {
				padding: .5rem .5rem;
				outline: 0;
				color: inherit;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-direction: row;
				flex-direction: row;
				-ms-flex: 1 1 auto;
				flex: 1 1 auto;
				-ms-flex-align: center;
				align-items: center;
				position: relative;
				white-space: nowrap;
				cursor: pointer;
				font-weight: 600 !important;
				color: #fff !important;

				&.dropdown-toggle:after {
					display:none;
				}
			}

			&.dropdown:hover > .dropdown-menu {
				display: block;
			}

			.dropdown-item:hover,
			.dropdown-item:focus,
			.dropdown-item:active {
				color:black;
				background: none;           
			}

		}

	}

}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {

	#navbar {
		min-height:63px;
	}

}

@media (min-width: 1200px) {}

</style>
