<template>
    <aside id="sidebar" class="sidebar">
        <slot>
        </slot>
    </aside>
</template>

<script>
export default {
	name: 'AppSidebar',
	props: {
    },
    components: {
    },
    data(){
        return {
        }
    },
    methods: {
    }
}
</script>

<style lang="scss" scoped>
</style>
