<template>
    <div>

        <div class="row">
            <div class="col-md-12">
                <h2>{{ title }}</h2>
            </div>
        </div>
        <!-- / row -->

        <div class="row">
            <div class="col-md-3 mb-3 mb-md-0">
                <app-sidebar>

                    <app-card-sidebar title="Ordenar">
                        Ordenar Resultados Por
                        <select class="custom-select" v-model="filter.sort_by" @change="action().searchEnabled();">
                            <option v-for="(pop, popKey) in select_options.popularity" :value="pop.value" :key="popKey">{{ pop.label }}</option>
                        </select>
                    </app-card-sidebar>

                    <app-card-sidebar title="Filtros" :list="true" >

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Mostre-me
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked
                                        @change="action().searchEnabled();">
                                    <label class="custom-control-label" for="customRadio1">Todos</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"  disabled
                                        @change="action().searchEnabled();">
                                    <label class="custom-control-label" for="customRadio2">Filmes que Não Assisti</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input"  disabled
                                        @change="action().searchEnabled();">
                                    <label class="custom-control-label" for="customRadio3">Filmes que Já Assisti</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Disponibilidades
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck0" v-model="all_availabilities" checked 
                                        @change="action().searchEnabled(); action().checkAvailabilities(true)">
                                    <label class="custom-control-label" for="customCheck0">Pesquisar todas as disponibilidades?</label>
                                </div>
                                <div v-if="!all_availabilities">
                                    <div v-for="(av, avKey) in select_options.availabilities" class="custom-control custom-checkbox" :key="avKey">
                                        <input type="checkbox" class="custom-control-input" :id="`customCheck${(avKey+1)}`" 
                                            :value="av.value" v-model="availabilities" checked
                                            @change="action().searchEnabled(); action().checkAvailabilities()">
                                        <label class="custom-control-label" :for="`customCheck${(avKey+1)}`">{{ av.label }}</label>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </app-card-sidebar>

                    <button type="button" class="btn btn-info btn-block mt-4 btn-search" :disabled="!search_enabled" 
                        @click="get().discover()">Pesquisar</button>

                </app-sidebar>
            </div>

            <div class="col-md-8">

                <app-main>
                    <div class="row row-eq-height" v-if="results.length > 0">
                        <div v-for="(movie, movieKey) in results" class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3" :key="movieKey">
                            <app-card-movie :movie="movie" :config="config"></app-card-movie>
                        </div>
                    </div>
                    <div class="row" v-if="load_more == true">
                        <div class="col-sm-12">
                            <button type="button" @click="get().discover(true)" class="btn btn-block btn-info load-more">Carregar mais</button>
                        </div>
                    </div>
                </app-main>
                
            </div>
        </div>
        <!-- / row -->

        <div class="btn-search-fixed" v-if="search_enabled && scroll == true">
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" @click="get().discover()" class="btn btn-info btn-block btn-search">Pesquisar</button>
                </div>
            </div>
        </div>
        
    </div>
</template>

<script>
import axios from 'axios';
import AppCardMovie from "../../components/movie/CardMovie.vue";
import AppCardSidebar from "../../components/common/CardSidebar.vue";

export default {
    components: {
        AppCardMovie,
        AppCardSidebar
    },
    data(){
        return {
            title: 'Filmes Populares',
            filter: {
                sort_by: 'popularity.desc',
                with_ott_monetization_types: ''
            },
            results: [],
            discover: {
                page: 0,
                results: [],
                total_pages: 0,
                total_results: 0
            },
            select_options:{
                popularity: [
                    {
                        label:'Popularidade (maior)',
                        value:'popularity.desc'
                    },
                    {
                        label:'Popularidade (menor)',
                        value:'popularity.asc'
                    },
                    {
                        label:'Avaliação (melhor)',
                        value:'vote_average.desc'
                    },
                    {
                        label:'Avaliação (pior)',
                        value:'vote_average.asc'
                    },
                    {
                        label:'Lançamento (novo)',
                        value:'primary_release_date.desc'
                    },
                    {
                        label:'Lançamento (antigo)',
                        value:'primary_release_date.asc'
                    },
                    {
                        label:'Título (A-Z)',
                        value:'title.asc'
                    },
                    {
                        label:'Título (Z-A)',
                        value:'title.desc'
                    },
                ],
                availabilities: [
                    {
                        label:'Stream',
                        value:'flatrate'
                    },
                    {
                        label:'Grátis',
                        value:'free'
                    },
                    {
                        label:'Propagandas',
                        value:'ads'
                    },
                    {
                        label:'Alugar',
                        value:'rent'
                    },
                    {
                        label:'Comprar',
                        value:'buy'
                    }
                ],
            },
            availabilities: [],
            all_availabilities: true,
            load_more: false,
            search_enabled: false,
            scroll: false
        }
    },
    created() {
        window.addEventListener('scroll', this.action().handleScroll);
    },
    destroyed() {
        window.removeEventListener('scroll', this.action().handleScroll);
    },
    mounted(){
        this.get().discover();
    },
    methods: {
        // Getters
        get(){
            var app = this;

            return {
                discover(loadMore){
                    let page = 1;

                    if(loadMore){
                        if(app.discover.page == 0){
                            page = 1;
                        } else {
                            page = (app.discover.page + 1);
                        }
                    }

                    let config = {
                            params: {
                                sort_by: app.filter.sort_by,
                                page: page,
                                certification_country:"BR",
                                with_ott_monetization_types: app.filter.with_ott_monetization_types,
                                with_runtime:{
                                    gte: "0",
                                    lte:"400"
                                },
                                show_me:"0",
                                ott_region:"BR",
                                vote_average: {
                                    gte: "0",
                                    lte: "10"
                                }
                            }
                        }

                    axios.get('/discover/movie', config)
                        .then( resp => {
                            app.discover = resp.data ? resp.data : {};

                            if(app.discover.results){

                                if(loadMore){
                                    app.results = resp.data ? [...app.results, ...resp.data.results] : [];
                                } else {
                                    app.results = resp.data ? resp.data.results : [];
                                }

                                if(app.discover.page <= app.discover.total_pages){
                                    app.load_more = true;
                                } else {
                                    app.load_more = false;
                                }
                            }

                            console.log('discover',app.discover);
                        })
                        .catch( e => {
                            console.log(e.response)
                        });

                    app.search_enabled = false;
                },
            }
        },

        // Actions
        action(){
            var app = this;

            return {
                searchEnabled(){
                    app.search_enabled = true;
                },
                checkAvailabilities(all){
                    if(!all){
                        app.filter.with_ott_monetization_types = app.availabilities.join('|');
                    } else {
                        app.filter.with_ott_monetization_types = '';
                    }
                    console.log('availabilities',app.filter.with_ott_monetization_types)
                },
                handleScroll() {
                    app.scroll = true;
                }
            }
        }
        
    },
    computed: {
        config(){
            return this.$store ? this.$store.getters.appConfig : {};
        }
    }
}
</script>

<style lang="scss" scoped>
h2 {
    font-size: 1.6em;
    font-weight: 600;
}

.load-more {
    padding: 0;
    max-width: 100%;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
    border-radius: 0px;
    border:0px;
    background-color: $light-blue;
}

.btn-search {
    background-color: $light-blue;
    border:0px;
    border-radius: 20px;
    height: 44px;
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;

    &[disabled] {
        background-color: rgba(228,228,228,0.7);
        color: rgba(0,0,0,0.5);
        opacity: 1;
    }
}

.btn-search-fixed {
    position: fixed;
    width:100%;
    height: auto;
    bottom: 0px;
    left:0px;
    z-index: 9999;

    .btn-search {
        border-radius: 0px;
        min-height: 50px;
    }
}
</style>
