<template>
    <div>
        <app-main>
            <h2>{{ msg }}</h2>
        </app-main>
    </div>
</template>

<script>
export default {
    data(){
        return {
            msg: 'Em breve...'
        }
    }
}
</script>

<style lang="scss" scoped>
h2 {
    font-size: 1.6em;
    font-weight: 600;
}
</style>

