<template>
    <div class="card card-sidebar">
        <div class="card-header">
            <a @click="toggle = !toggle">{{ title }} <font-awesome-icon :icon="(!toggle ? `chevron-right` : `chevron-down`)" class="float-right"/></a>
        </div>
        <div v-if="list == false" class="card-body" v-show="toggle">
            <slot>
            </slot>
        </div>
        <div v-else  v-show="toggle">
            <slot>
            </slot>
        </div>
    </div>
</template>

<script>
export default {
	name: 'AppCardSidebar',
	props: {
        title: String,
        toggle: {
            type: Boolean,
            default: true
        },
        list: {
            type: Boolean,
            default: false
        }
    },
    methods: {
    },
    computed: {
    }
}
</script>

<style lang="scss" scoped>
.card-sidebar {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    margin-top:10px;

    .card-header {
        background:#fff;
        border-radius: 8px 8px 0 0;        
        font-size: 1.1em;
        font-weight: 600;

        a {
            display: block;
            position: relative;
            cursor: pointer;

            svg {
                margin-top:5px;
            }
        }

    }

    .card-body {
        font-size: 1em;
        font-weight: 300;

        .custom-select {
            background-color:#e4e4e4;
            border-color: transparent;
        }
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        color: #fff;
        border-color: $light-blue;
        background-color: $light-blue;
    }
}
</style>
