<template>
    <div class="card card-movie" v-if="config.images">
        <div class="card-header">
            <router-link :to="`/movie/${movie.id}`">
                <img v-if="movie.poster_path" class="card-img-top" :src="config.images.base_url + config.images.poster_sizes[3] + movie.poster_path" alt="">
                <img v-else class="card-img-top" src="img/no-poster.png" alt="">
            </router-link>
        </div>
        <div class="card-body">            

            <div :class="`progress ${ progressColor(movie.vote_average) }`">
                <span class="progress-left">
                    <span class="progress-bar" :style="`-webkit-transform:rotate(${progressLeft(movie.vote_average)}deg); transform:rotate(${progressLeft(movie.vote_average)}deg);`"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar" :style="`-webkit-transform:rotate(${progressRight(movie.vote_average)}deg); transform:rotate(${progressRight(movie.vote_average)}deg);`"></span>
                </span>
                <div class="progress-value">{{ movie.vote_average * 10 }}<span>%</span></div>
            </div>

            <h4 class="card-title">
                <router-link :to="`/movie/${movie.id}`">{{ movie.title }}</router-link>
            </h4>
            <p class="card-text">{{ movieDate(movie.release_date) }}</p>
        </div>
    </div>
</template>

<script>
import dateFormat from './../../utils/dateFormat';

export default {
	name: 'AppCardMovie',
	props: {
        config: Object,
		movie: Object
    },
    methods: {
        movieDate(str){

            if(!str){
                return null;
            }

            return dateFormat(str);
        },
        progressColor(average){
            let cssClass = null;

            if(average >= 7.0){
                cssClass = 'green';
            } else if(average < 7.0 && average >= 4.0){
                cssClass = 'yellow';
            } else {
                cssClass = 'red';
            }

            return cssClass;
        },
        progressLeft(average){
            let progress = Math.ceil(((average * 10) * 3.6) / 2);
            // console.log('progressLeft',progress);
            return progress > 180 ? progress : 0;
        },
        progressRight(average){
            let progress = Math.ceil(((average * 10) * 3.6) / 2);
            // console.log('progressRight',progress);
            return progress > 180 ? 180 : progress;
        }
    },
    computed: {
    }
}
</script>

<style lang="scss" scoped>
.card-movie {
    margin-bottom:31px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: 1px solid #e3e3e3;
    border-radius: 8px;

    h4 {
        font-size: 1em;
        margin: 0;
        width: 100%;
        word-wrap: normal;
        overflow-wrap: break-word;
        font-weight: 700;
        height: 58px;
        overflow: hidden;
        display: block;

        a {
            color: #000;
            text-decoration: none;
        }
    }

    .card-header {
        padding:0px;
        max-height: 259px;
        overflow: hidden;
    }

    .card-body {
        padding: 26px 10px 12px 10px;
        position: relative;

        .card-text {
            font-size: 1em;
            margin: 0;
            padding: 0;
            color: rgba(0,0,0,0.6);
            min-height: 24px;
        }
    }

    .progress {
        width:34px;
        height:34px !important;
        float:left;
        line-height:34px;
        background:none;
        margin:20px;
        box-shadow:none;
        position:absolute;
        border-radius:50%;
        border:2px solid #081c22;
        top:-34px;
        left:-12px;

        &::after {
            content:"";
            width:100%;
            height:100%;
            border-radius:50%;
            border:2px solid #666666;
            position:absolute;
            top:0;
            left:0;
        }

        &>span {
            width:50%;
            height:100%;
            overflow:hidden;
            position:absolute;
            top:0;
            z-index:1;
        }

        .progress-left {
            left:0;

            .progress-bar {
                left:100%;
                border-top-right-radius:80px;
                border-bottom-right-radius:80px;
                border-left:0;
                -webkit-transform-origin:center left;
                transform-origin:center left;
            }

        }

        .progress-bar {
            width:100%;
            height:100%;
            background:none;
            border-width:2px;
            border-style:solid;
            position:absolute;
            top:0;
        }

        .progress-right {
            right:0;

            .progress-bar {
                left:-100%;
                border-top-left-radius:80px;
                border-bottom-left-radius:80px;
                border-right:0;
                -webkit-transform-origin:center right;
                transform-origin:center right;
            }

        }

        .progress-value {
            width:90%;
            height:90%;
            border-radius:50%;
            background:#081c22;
            font-size:14px;
            color:#fff;
            line-height:28px;
            text-align:center;
            position:absolute;
            top:5%;
            left:5%;
            font-weight: 700;
            padding-right: 2px;

            span {
                font-size: 6px;
                position: absolute;
                top:-2px;
                right:2px;
                font-weight: 400;
                padding-left: 2px;
            }
        }

        &.green {
            
            .progress-bar {
                border-color:#21d07a;
            }

        }

        &.yellow {
            
            .progress-bar {
                border-color:#d2d531;
            }

        }

        &.red {
            
            .progress-bar {
                border-color:#db2360;
            }

        }


    }
}
</style>
