<template>
	<div id="app">
		<app-nav></app-nav>
		<app-content></app-content>
        <app-footer></app-footer>
	</div>
</template>

<script>
import axios from 'axios';

export default {
	name: "App",
    data(){
        return {
            config: {}
        }
    },
    mounted(){
        this.get().config();
    },
    methods: {
        // Getters
        get(){
            var app = this;

            return {
                config(){
                    axios.get('/configuration')
                        .then( resp => {
                            app.config = resp.data;
							console.log('config',app.config);
							app.$store.commit('appConfig',app.config);
                        })
                        .catch( e => {
                            console.log(e.response)
                        });
                },
            }
        }
    }
};
</script>

<style lang="scss">
#app {

	.container {
		max-width: 1360px;
	}

}
</style>
